<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeToUseInFuture"
        tools:targetApi="31">

        <!-- Deklaracja aktywności StartActivity -->
        <activity
            android:name=".Navigation.StartActivity"
            android:exported="false" />

        <!-- Pozostałe aktywności, które zostały już zadeklarowane w poprzedniej wersji manifestu -->
        <activity
            android:name=".Animation.AnimationActivity_1"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity android:name=".Navigation.FromActivity"
            android:exported="false"/>
        <activity android:name=".Navigation.ToActivity"
            android:exported="false"/>
        <activity
            android:name=".RecyclerView.MainRecyclerView"
            android:exported="false" />
        <activity
            android:name=".RecyclerView.SecondRecyclerView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
